@charset "UTF-8";

.confirm input {
  width        : 100px;
  height       : 40px;
  border-radius: 5px;
  font-weight  : bold;
  margin       : 20px;
  border-style : none;
}

.result {
  margin-top: 30px;
}

.result span {
  border-radius   : 5px;
  background-color: #59ADFF;
  font-weight     : bold;
  color           : white;
  padding         : 3px 8px 3px;
}

.head-border {
    position: relative;
    display: inline-block;
    padding: 0 240px;
}

.head-border:before,
.head-border:after {
    content         : '';
    position        : absolute;
    top             : 50%;
    display         : inline-block;
    width           : 230px;
    height          : 1px;
    background-color: #666;
}

.head-border:before {
    left: 0;
}

.head-border:after {
    right: 0;
}