@charset "UTF-8";

.wrapper{
    min-height    : 100vh;
    position      : relative;
    padding-bottom: 120px;
    box-sizing    : border-box;
}

footer{
    width     : 100%;
    text-align: center;
    padding   : 30px 0;
    position  : absolute;
    bottom    : 0;
}

.footer > input {
  font-size   : 18px;
  font-weight : bold;
  height      : 50px;
  width       : 100px;
  margin-left : 120px;
  margin-right: 120px;
}

