@charset "UTF-8";

h1,div {
  text-align:center;
}

div {
  padding : 14px ;
}

input {
  width:400px;
  height:30px;
  border-radius:5px;
  text-align:center;
  font-size: 18px;
  font-weight: bold;
}

.login-button > input {
  width:130px;
  text-align:center;
  height:60px;
  border-radius:5px;
  background-color: #99CCFF;
  color: white;
}

.user-id > input {
   background-image: url("../image/01_.png");
   background-size:contain;
   background-repeat: no-repeat;
}

.user-pass > input {
   background-image: url("../image/02_Key.png");
   background-size:contain;
   background-repeat: no-repeat;
}