@charset "UTF-8";

div {
  grid-template-columns: auto auto auto;
  grid-gap  : 50px;
  padding   : 10px;
  text-align: center;
}

.parent > input {
  height          : 100px;
  margin          : 190px 55px 210px;
  width           : 200px;
  border-radius   : 5px;
  text-align      : right;
  font-size       : 36px;
  font-weight     : bold;
  background-color: #9CB3E3;
  color           : white;
}

.order {
   background-image : url("../image/03_money.png");
   background-size  : contain;
   background-repeat: no-repeat;
}

.manager {
   background-image : url("../image/04_coffee.png");
   background-size  : contain;
   background-repeat: no-repeat;
}

.close {
   background-image : url("../image/05_house.png");
   background-size  : contain;
   background-repeat: no-repeat;
}

.footer {
  display        : flex;
  justify-content: space-between;
}

.logout {
  font-size    : 20px;
  font-weight  : bold;
  border-radius: 5px;
  margin-left  : 180px;
  padding      : 10px;
}

.emp {
  width             : 179px;
  border-radius     : 5px;
  font-size         : 20px;
  font-weight       : bold;
  text-align        : right;
  border-radius     : 5px;
  margin-right      : 180px;
  background-color  : #9CB3E3;
  color             : white;
  background-image  : url("../image/05_house.png");
  background-size   : contain;
  background-repeat : no-repeat;
}