@charset "UTF-8";

* {
  text-align: center;
}

p {
  font-size     : 18px;
  font-weight   : bold;
}

.amount > p {
  display       : inline-block;
  vertical-align: middle;
  margin-top    : 0px;
}

.amount {
  margin-top: 100px;
}

div > input {
  width : 250px;
  height: 50px;
}

.box {
  display        : flex;
  justify-content: center;
  vertical-align : text-bottom;
}

.unit {
  vertical-align: bottom;
}

.calc {
  display       : grid;
}

.calc input {
  height          : 25px;
  width           : 90px;
  font-size       : 15px;
  font-weight     : bold;
  background-color: white;
  border-style    : none;
  text-decoration : underline;
}

img {
  background-size  : contain;
  background-repeat: no-repeat;
  width            : 40px;
}

.minus {
   background-image : url("../image/08_Minus-icon.png");
   background-size  : 22px;
   background-repeat: no-repeat;
}

.plus {
   background-image : url("../image/09_Plus-icon.png");
   background-size  : 22px;
   background-repeat: no-repeat;
}

.itemlist {

}

.item span {
  margin : 0px 15px 0px;
  display: inline-block;
  width  : 90px;
}

.item input {
  width : 50px;
  height: 30px;
  vertical-align: bottom;
}

.plusbutton {
  border          : 1px solid white;
  background-color: white;
  height          : 28px;
  outline         : 0;
}

.plusbutton span {
  background-image : url('../image/09_Plus-icon.png');
  background-size  : 20px;
  background-repeat: no-repeat;
  display          : inline-block;
  margin-top       : 2px;
  width            : 20px;
  height           : 20px;
}

.minusbutton {
  border          : 1px solid white;
  background-color: white;
  height          : 28px;
  outline         : 0;
}

.minusbutton span {
  background-image : url('../image/08_Minus-icon.png');
  background-size  : 20px;
  background-repeat: no-repeat;
  display          : inline-block;
  margin-top       : 2px;
  width            : 20px;
  height           : 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 10px;
}

.grid-container > div {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.result span {
  text-align:left;
  float: left;
}

.result p {
  text-align: right;
  border-bottom: groove;
  width: 55%;
  margin: 0px 0px 0px;
  display: inline-block;
}

.result input {
  width         : 120px;
  font-size     : 18px;
  font-weight   : bold;
}
